div(class="footer")
    footer(class="wrapper")
        div(class="grid-layout")
            div(class="grid-layout__item u-1/4 u-1/2-lap u-1/1-palm")
                p(class="beta footer_header")="Informations"
                ul(class="list-bare footer__navigation")
                    li
                        a(href="#",class="delta footer__link link") Foire aux questions
                    li
                        a(href="#",class="delta footer__link link") Liens utiles
                    li
                        a(href="#",class="delta footer__link link") Type d'intervention
                    li
                        a(href="#",class="delta footer__link link") Horaires
            div(class="grid-layout__item u-1/4 u-1/2-lap u-1/1-palm vcard")
                p(class="beta footer_header")="Adresse"
                ul(class="list-bare footer__navigation")
                    li
                        a(href="#",class="delta footer__link link") Rue des Madelaine
                    li
                        a(href="#",class="delta footer__link link") 17 4000 Liège
                    li
                        a(href="#",class="delta footer__link link", class="tel") Fax : 04/223.56.86
                    li
                        a(href="#",class="delta footer__link link", class="tel") Fax : 04/223.56.86
            div(class="grid-layout__item u-1/4 u-1/2-lap u-1/1-palm vcard")
                p(class="beta footer_header")="Nous suivre"
                ul(class="list-bare footer__navigation")
                    li
                        a(href="#",class="delta footer__link link") Facebook
                    li
                        a(href="#",class="delta footer__link link") Twitter
                    li
                        a(href="#",class="delta footer__link link", class="tel") Linkedin
                    li
                        a(href="#",class="delta footer__link link", class="tel") Skype
            div(class="grid-layout__item u-1/4 u-1/2-lap u-1/1-palm vcard")
                p(class="beta footer_header")="Liens utiles"
                ul(class="list-bare footer__navigation")
                    li
                        a(href="#",class="delta footer__link link") Facebook
                    li
                        a(href="#",class="delta footer__link link") Twitter
                    li
                        a(href="#",class="delta footer__link link", class="tel") Linkedin
                    li
                        a(href="#",class="delta footer__link link", class="tel") Skype

    div(class="copy")
        p(class="wrapper")!="&copy; Tout droit réservés Daniel Schreurs"
script(src="./js/jquery.min.js")
script(src="./js/main-min.js")
script(src="./js/slider-min.js")
