footer(class="wrapper")
    div(class="grid-layout")
        div(class="grid-layout__item u-1/4")
            p(class="alpha")="Informations"
            ul(class="list-bare")
                li
                    a(href="http://") Foire aux questions
                li
                    a(href="http://") Liens utiles
                li
                    a(href="http://") Type d'intervention
                li
                    a(href="http://") Horaires
        div(class="grid-layout__item u-1/4 vcard")
            p(class="alpha")="Adresse"
            ul(class="list-bare")
                li
                    a(href="http://") Rue des Madelaine
                li
                    a(href="http://") 17 4000 Liège
                li
                    a(href="http://", class="tel") Fax : 04/223.56.86
                li
                    a(href="http://", class="tel") Fax : 04/223.56.86
        div(class="grid-layout__item u-1/4 vcard")
            p(class="alpha")="Nous suivre"
            ul(class="list-bare")
                li
                    a(href="http://") Facebook
                li
                    a(href="http://") Twitter
                li
                    a(href="http://", class="tel") Linkedin
                li
                    a(href="http://", class="tel") Skype
        div(class="grid-layout__item u-1/4 vcard")
            p(class="alpha")="S’inscrire à la newsletter"
            p(class="")=" Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto laboriosam ipsa optio qui."
            form(id="", method="", action="")
                input(type="email", for="email", name="email")
                label( id="email") Introduisez votre adresse mail
                button(type="submit") Evoyez votre adresse mail
