div(class="color-container color-container--white section section--first")
    div(class="wrapper")
        ul(class="grid-layout")
            li(class="make_item grid-layout__item u-1/3 media-vertical")
                svg(viewBox="0 0 100 100" class="icon shape-location")
                    use(xlink:href="#shape-location")
                div(class="media-vertical__body")
                    h2(class="gamma make_item__header") LE PREMIER ACCUEIL
                    p="Nous travaillons sur rendez-vous. Les situations d'urgence peuvent être prises en charge, si nécessaire, par un travailleur de rue."
            li(class="make_item grid-layout__item u-1/3 media-vertical")
                svg(viewBox="0 0 100 100" class="icon shape-location")
                    use(xlink:href="#shape-location")
                div(class="media-vertical__body")
                    h2(class="gamma make_item__header") PSYCHOSOCIAL
                    p="Les travailleurs sociaux peuvent rencontrer régulièrement les personnes pour les aider à résoudre les difficultés d'ordre social (problèmes de justice, financiers, administratifs, ...)"
            li(class="make_item grid-layout__item u-1/3 media-vertical")
                svg(viewBox="0 0 100 100" class="icon shape-location")
                    use(xlink:href="#shape-location")
                div(class="media-vertical__body")
                    h2(class="gamma make_item__header") PSYCHOTHERAPIES
                    p="Nous proposons aux personnes qui le souhaitent d'aborder plus profondément les difficultés psychologiques liées ou non à une problématique de dépendance."
            li(class="make_item grid-layout__item u-1/3 media-vertical")
                svg(viewBox="0 0 100 100" class="icon shape-location")
                    use(xlink:href="#shape-location")
                div(class="media-vertical__body")
                    h2(class="gamma make_item__header") CONSULTATIONS MÉDICALES
                    p="Nous proposons aux personnes qui le souhaitent d'aborder plus profondément les difficultés psychologiques liées ou non à une problématique de dépendance."
            li(class="make_item grid-layout__item u-1/3 media-vertical")
                svg(viewBox="0 0 100 100" class="icon shape-location")
                    use(xlink:href="#shape-location")
                div(class="media-vertical__body")
                    h2(class="gamma make_item__header") GROUPES D'ENTRAIDE
                    p="Les groupes sont des lieux d'échange, de reconnaissance de soi et de l'autre, de soutien réciproque, de confrontations d'expériences."
            li(class="make_item grid-layout__item u-1/3 media-vertical")
                svg(viewBox="0 0 100 100" class="icon shape-location")
                    use(xlink:href="#shape-location")
                div(class="media-vertical__body")
                    h2(class="gamma make_item__header") SERVICE PARENTALITE
                    p="Ce Service a été mis en place en 1994. Il est assuré par une équipe psycho- médico-sociale spécifique. L'objectif de ce service est double"
