div(class="color-container color-container--white")
    div(class="wrapper")
        ul(class="grid-layout")
            li(class="grid-layout__item u-1/2")
                div(class="media")
                    img(src="../logo_1.svg", alt="",class="media__img")
                    p(class="media__body")="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea beatae eveniet voluptatem debitis cum temporibus consequuntur tempora repellendus aut quos repellat sunt quae omnis, numquam consequatur accusamus, fugiat esse delectus."
            li(class="grid-layout__item u-1/2")
                div(class="media")
                    img(src="../logo_1.svg", alt="",class="media__img")
                    p(class="media__body")="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea beatae eveniet voluptatem debitis cum temporibus consequuntur tempora repellendus aut quos repellat sunt quae omnis, numquam consequatur accusamus, fugiat esse delectus."
            li(class="grid-layout__item u-1/2")
                div(class="media")
                    img(src="../logo_1.svg", alt="",class="media__img")
                    p(class="media__body")="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea beatae eveniet voluptatem debitis cum temporibus consequuntur tempora repellendus aut quos repellat sunt quae omnis, numquam consequatur accusamus, fugiat esse delectus."
            li(class="grid-layout__item u-1/2")
                div(class="media")
                    img(src="../logo_1.svg", alt="",class="media__img")
                    p(class="media__body")="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea beatae eveniet voluptatem debitis cum temporibus consequuntur tempora repellendus aut quos repellat sunt quae omnis, numquam consequatur accusamus, fugiat esse delectus."
            li(class="grid-layout__item u-1/2")
                div(class="media")
                    img(src="../logo_1.svg", alt="",class="media__img")
                    p(class="media__body")="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea beatae eveniet voluptatem debitis cum temporibus consequuntur tempora repellendus aut quos repellat sunt quae omnis, numquam consequatur accusamus, fugiat esse delectus."
            li(class="grid-layout__item u-1/2")
                div(class="media")
                    img(src="../logo_1.svg", alt="",class="media__img")
                    p(class="media__body")="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea beatae eveniet voluptatem debitis cum temporibus consequuntur tempora repellendus aut quos repellat sunt quae omnis, numquam consequatur accusamus, fugiat esse delectus."
