div(class="slider-container")
    div(class="wrapper")
            ul(class="slider list-bare")
                li(class="lider__item")
                    p="Lorem ipsum dolor sit amet, consectetur adipisicing elit."
                li(class="lider__item")
                    p="Lorem ipsum dolor sit amet, consectetur adipisicing elit."
                li(class="lider__item")
                    p="Lorem ipsum dolor sit amet, consectetur adipisicing elit."
                li(class="lider__item")
                    p="Lorem ipsum dolor sit amet, consectetur adipisicing elit."
                li(class="lider__item")
                    p="Lorem ipsum dolor sit amet, consectetur adipisicing elit."
                li(class="lider__item")
                    p="Lorem ipsum dolor sit amet, consectetur adipisicing elit."
